body {
    margin: 0;
    background: #f8f7f6;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8vw;
    justify-content: center;
    align-items: center;
}

#hours, #minutes-ones, #colon {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.die {
    width: 15vw;
    height: 15vw;
    border-radius: 2vw;
    background: #f8f7f6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.dot {
    place-self: center;
    width: 3vw;
    height: 3vw;
    border-radius: 4vw;
    background: #4d4d4d
}

.colon-dot {
    width: 2vw;
    height: 2vw;
    border-radius: 4vw;
    background: #f8f7f6
}