body {
    margin: 0;
    background: #f8f7f6;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

#hours, #minutes-ones {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.die {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background: #f8f7f6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.dot {
    place-self: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #4d4d4d
}

.blank {
    place-self: center;
    width: 40px;
    height: 40px;
}


#colon {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.colon-dot {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #f8f7f6
}